<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net48" />
  <package id="EntityFramework.ru" version="6.2.0" targetFramework="net48" />
  <package id="FilterDataGrid" version="1.2.6" targetFramework="net48" />
  <package id="HandyControl" version="3.4.0" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.1.1" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.7.1" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Syncfusion.Compression.Base" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Data.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.DataGridExcelExport.Wpf" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Wpf" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.SfGrid.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.SfSkinManager.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Shared.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.Themes.MaterialDark.WPF" version="20.4.0.44" targetFramework="net48" />
  <package id="Syncfusion.XlsIO.Wpf" version="20.4.0.44" targetFramework="net48" />
</packages>